<div class="min-h-screen bg-gray-100 flex items-center justify-center px-4 py-10">
  <div class="w-full max-w-2xl bg-white p-8 rounded-2xl shadow space-y-6">
    <div class="text-center">
      <h2 class="text-2xl font-bold text-gray-800">Cadastro de Usuário</h2>
      <p class="text-sm text-gray-500">Preencha os campos para criar um novo usuário</p>
    </div>

    <form [formGroup]="form" (ngSubmit)="onSubmit()" class="space-y-6">

      <!-- Nome -->
      <div>
        <label class="block text-sm font-medium text-gray-700">Nome</label>
        <input type="text" formControlName="nome" class="mt-1 w-full px-4 py-2 border placeholder-neutral-300 border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-indigo-500" placeholder="Digite o nome completo" />
      </div>

      <!-- Email -->
      <div>
        <label class="block text-sm font-medium text-gray-700">E-mail</label>
        <input type="email" formControlName="email" class="mt-1 w-full px-4 py-2 border placeholder-neutral-300 border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-indigo-500" placeholder="seu@email.com" />
      </div>

      <!-- Senha -->
      <div class="grid grid-cols-1 md:grid-cols-2 gap-4">
        <div>
          <label class="block text-sm font-medium text-gray-700">Senha</label>
          <input type="password" formControlName="senha" class="mt-1 w-full px-4 py-2 border placeholder-neutral-300 border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-indigo-500" placeholder="********" />
        </div>

        <div>
          <label class="block text-sm font-medium text-gray-700">Confirmar Senha</label>
          <input type="password" formControlName="confirmarSenha" class="mt-1 w-full placeholder-neutral-300 px-4 py-2 border border-gray-300 rounded-md focus:outline-none focus:ring-2 focus:ring-indigo-500" placeholder="********" />
        </div>
      </div>

      <!-- Perfis (checkbox) -->
      <div>
        <label class="block text-sm font-medium text-gray-700 mb-1">Perfis</label>
        <div class="flex gap-6 flex-wrap text-sm text-gray-700">
          <label class="flex items-center gap-2">
            <input type="checkbox" value="ADMIN" (change)="onPerfilChange($event)" />
            Admin
          </label>
          <label class="flex items-center gap-2">
            <input type="checkbox" value="TECNICO" (change)="onPerfilChange($event)" />
            Técnico
          </label>
          <label class="flex items-center gap-2">
            <input type="checkbox" value="CLIENTE" (change)="onPerfilChange($event)" />
            Cliente
          </label>
        </div>
      </div>

      <!-- Botões -->
      <div class="flex justify-end gap-4">
        <button type="button" routerLink="/users" class="px-4 py-2 text-sm text-gray-600 hover:underline cursor-pointer">Cancelar</button>
        <button type="submit" class="px-6 py-2 text-sm text-white bg-indigo-600 hover:bg-indigo-700 rounded-md cursor-pointer">Criar Usuário</button>
      </div>
    </form>
  </div>
</div>
